
  .section1 {
    display: inline-block;
    height: auto;
    margin-bottom: 100px;
    /* text-align: center; */
  }
  .section1#Welcome {
    background-image: url("../../images/cyberDesk.jpg");
    background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    height: 550px;
  }

  #Welcome {
    box-shadow: 0 0 7px 4px #00BB5E; /* Add the glowing effect to the #Welcome div */
  }
  #Welcome h2, #Welcome p {
	  text-align: left;
    vertical-align: middle;
    color: white;
  }

  #Welcome img {
	  align-self: right;
    max-width: 100%;
    height: auto;
  }
  
  .grid-container {
    display: grid;
	  grid-column-gap: 20px;
    grid-template-columns: 1.5fr 1fr; /* Two columns with equal width */
    justify-items: center;
    height: 500px;
  }

  .grid-item {
    padding: 10px;
    height: auto;
    display: inline-block;
  }

#highlight {
    background-color: rgba(0, 0, 0, .7);
    display: inline-block;
    line-height: 1;
    bottom: auto;
    right: auto;
    padding: 10px;
    border-radius: 5px;
}