
  @font-face {
      font-family: 'ModeNine';
      src: url('../webfonts/Modeseven-L3n5.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: ModeNine;
    background-color: #1B2E35;
  }

  #navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Make sure it's above other elements on the page */
  }

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #content {
    margin-top: 50px; /* Adjust this value to account for the height of the navbar */
    padding: 16px;
    background-color: #1B2E35;
  }

  .section1 {
    width: 90%; /* Adjust the width based on your design */
    margin: auto; /* Center the div horizontally */
    padding: 20px; /* Set padding for the content within the div */
    box-sizing: border-box; /* Include padding in the total width */
    /* text-align: center; Center the text within the div */
    background-color: #f0f0f0; /*Set a background color if desired */
    border: 1px; /* Add a border for visual separation add solid to see */
  }