
@font-face {
    font-family: 'ModeNine';
    src: url('../webfonts/Modenine-2OPd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: ModeNine;
  }

  #navbar {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000; /* Make sure it's above other elements on the page */
  }

  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  #content {
	margin-top: 50px; /* Adjust this value to account for the height of the navbar */
	padding: 16px;
	background-color: #1B2E35;
  }

  .section1 {
    width: 90%; /* Adjust the width based on your design */
    margin: auto; /* Center the div horizontally */
    padding: 20px; /* Set padding for the content within the div */
    box-sizing: border-box; /* Include padding in the total width */
    /* text-align: center; Center the text within the div */
    background-color: #f0f0f0; /*Set a background color if desired */
    border: 1px solid; /* Add a border for visual separation */
  }

  .section1#Welcome {
	background-image: url("../../images/cyberDesk.jpg");
	background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    height: 300px; /* Set the desired height of your div */
  }

  #Welcome h2 {
	text-align: left;
  }

  #Welcome p {
	text-align: left;
  }
  #Welcome img {
	align-self: right;
  }
  
  #typewriter {
	left: 0%;
	right: auto;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }

  .grid-container {
    display: grid;
	grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    /* Optional: Add more Grid properties as needed */
}

/* Optional: Style for the items within the grid */
.grid-item {
    padding: 20px;
    border: 1px solid #ccc;
}
#MePic img{
	height: 250px;
	margin-left: auto;
}