
.grid-container {
    display: grid;
    gap: 20px;
}

.project-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.project-title {
    color: white;
    font-weight: 600;
    font-size: 40;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Responsive Media Queries */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}